@charset "UTF-8";

#site_content * {
    font-family: Montserrat, "Montserrat Fallback"
}

.videobgframe,
    .videobgwrapper {
    position: absolute;
    height: 100%
}

.videobgwrapper {
    overflow: hidden
}

@font-face {
    font-family: FontAwesome;
        font-display: block;
        src: url(https://static.cdn-website.com/fonts/fontawesome-webfont.eot?v=6);
        src: url(https://static.cdn-website.com/fonts/fontawesome-webfont.eot?#iefix&v=6) format("embedded-opentype"), url(https://static.cdn-website.com/fonts/fontawesome-webfont.woff?v=6) format("woff"), url(https://static.cdn-website.com/fonts/fontawesome-webfont.ttf?v=6) format("truetype"), url(https://static.cdn-website.com/fonts/fontawesome-webfont.svg#fontawesomeregular?v=6) format("svg");
        font-weight: 400;
        font-style: normal
}

@font-face {
    font-family: Montserrat;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://irp.cdn-website.com/fonts/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Montserrat;
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://irp.cdn-website.com/fonts/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

.videobgwrapper {
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: inherit
}

.videobgframe {
    width: 101%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    object-fit: fill
}

[data-flex-id] {
    position: relative
}

:root {
    --color_1: rgba(0, 124, 220, 1);
    --color_2: rgba(87, 182, 255, 1);
    --color_3: rgba(255, 255, 255, 1);
    --color_4: rgba(239, 242, 246, 1);
    --color_5: rgba(0, 0, 0, 1);
    --color_6: rgba(196, 229, 255, 1)
}

.clearfix:after {
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.clearfix:after,
    .clearfix:before {
    content: ' ';
    display: table
}

.clearfix {
    display: inline-block
}

[data-display-type=block] {
    display: block
}

.dmRespRow.fullBleedMode>.dmRespColsWrapper {
    width: 100% !important;
    max-width: 100% !important
}

.dmRespRow.fullBleedMode {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.align-center {
    margin-left: auto;
    margin-right: auto
}

.text-align-center {
    text-align: center
}

.dmform-title {
    padding-right: 15px;
    padding-left: 15px
}

[data-flex-id][data-layout-section] {
    min-height: 32px
}

.flex-widgets-container {
    display: none
}

@media (min-width:1025px) {

    :root {
        --btn-text-font-size: 16px
    }
}

@media (min-width:768px) and (max-width:1024px) {

    .button_2,
        :root {
        --btn-text-font-size: 16px
    }
}

.video-ssr .videobgframe {
    object-fit: cover
}

[data-flex-id] .widget-wrapper [data-element-type=image] img,
    [data-flex-id] .widget-wrapper [data-element-type=image] img[width][height] {
    object-fit: cover;
    width: 100%;
    height: 100%
}

[data-flex-id] .flex-element.grid>.flex-element {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1
}

@media (max-width:467px) {
    [data-hidden-on-mobile_portrait] {
        display: none !important
    }
}

:not(.runtime-module-container) .layout-drawer,
    :not(.runtime-module-container) .layout-drawer-hamburger,
    :not(.runtime-module-container) .layout-drawer-overlay {
    visibility: hidden
}

:not(.runtime-module-container) .layout-drawer {
    position: fixed;
    transform: translate(-100%, -100%)
}

:not(.runtime-module-container) .layout-drawer-overlay {
    opacity: 0
}

.dmRespRow:not(.dmPlaceHolderRespRow) .dmRespColsWrapper .dmRespCol:not(.content-removed).empty-column,
    .dmRespRow:not(.dmPlaceHolderRespRow) .dmRespColsWrapper .dmRespCol:not(.content-removed):only-child:empty,
    [data-video-bg] {
    min-height: 100px
}

body:not([data-flex-site]) .layout-drawer .dmRespRow:not(:first-of-type):not(:last-of-type) {
    flex: 1 1 auto
}

.layout-drawer-hamburger {
    background: 0 0;
    -webkit-appearance: none;
    appearance: none;
    position: fixed;
    left: 18px;
    margin-left: env(safe-area-inset-left);
    padding: 17px 11px;
    z-index: 14;
    width: 52px;
    height: 52px;
    color: #787878;
    display: flex;
    flex-direction: column;
    border: 0;
    justify-content: space-between;
    align-items: stretch;
    top: 18px;
    border-radius: 0
}

.layout-drawer-hamburger:not(:focus) {
    outline: unset
}

.layout-drawer-hamburger .hamburger__slice {
    display: block;
    height: 0;
    width: 100%;
    border: 1px solid currentColor;
    transform-origin: center
}

@media (max-width:767px) {
    .layout-drawer-hamburger {
        background: 0 0;
        -webkit-appearance: none;
        appearance: none;
        position: fixed;
        left: 10px;
        margin-left: env(safe-area-inset-left);
        padding: 13px 9px;
        z-index: 14;
        width: 40px;
        height: 40px;
        color: #787878;
        display: flex;
        flex-direction: column;
        border: 0;
        justify-content: space-between;
        align-items: stretch;
        top: 10px;
        border-radius: 0
    }

    .layout-drawer-hamburger:not(:focus) {
        outline: unset
    }

    .layout-drawer-hamburger .hamburger__slice {
        display: block;
        height: 0;
        width: 100%;
        border: 1px solid currentColor;
        transform-origin: center
    }
}

img,
    video {
    display: inline-block
}

nav,
    section {
    display: block
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0;
    max-width: 100%;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

button,
    input {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    line-height: normal
}

button {
    text-transform: none;
    -webkit-appearance: button
}

button::-moz-focus-inner,
    input::-moz-focus-inner {
    border: 0;
    padding: 0
}

*,
    :after,
    :before {
    box-sizing: border-box
}

.dmRespRow {
    padding-top: 15px;
    padding-bottom: 15px
}

.dmRespRow:after,
    .dmRespRow:before {
    content: ' ';
    display: table
}

.dmRespRow:after {
    clear: both
}

.dmRespRow,
    .dmRespRow .dmRespColsWrapper {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    width: 100%
}

.dmRespRow .dmRespCol {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    float: left
}

.dmRespRow .dmRespCol>* {
    max-width: 100%
}

.socialHubIcon,
    [class*=' dm-social-icons-'] {
    font-family: dm-social-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.dm-social-icons-email:before {
    content: '\eace'
}

.dm-social-icons-facebook:before {
    content: '\ea90'
}

.dm-social-icons-instagram:before {
    content: '\ea92'
}

.dm-social-icons-twitter:before {
    content: '\ea96'
}

[class*=' icon-'] {
    font-family: FontAwesome !important;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased
}

[class*=' icon-']:before {
    text-decoration: none;
    display: inline-block;
    speak: none
}

a [class*=' icon-'] {
    display: inline
}

[class*=' icon-'] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0
}

.icon-star:before {
    content: '\f005'
}

.icon-linkedin:before {
    content: '\f0e1'
}

.icon-angle-down:before {
    content: '\f107'
}

p.rteBlock {
    margin: 0
}

.dmPhotoGallery .dmPhotoGalleryHolder .photoGalleryThumbs .image-container {
    height: 100%
}

.dmPhotoGallery .dmPhotoGalleryHolder .photoGalleryThumbs {
    width: 58px;
    height: 58px;
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden
}

.dmPhotoGalleryResp.dmPhotoGallery .dmPhotoGalleryHolder .photoGalleryThumbs img {
    box-shadow: 0 0 3px #888
}

.dmPhotoGalleryResp.dmPhotoGallery .dmPhotoGalleryHolder .photoGalleryThumbs {
    margin: 0;
    padding: 10px
}

.dmPhotoGalleryHolder {
    text-align: center
}

.dmPhotoGallery .dmPhotoGalleryHolder .photoGalleryThumbs img {
    display: inline !important;
    margin: 0 !important;
    vertical-align: middle;
    text-align: center;
    position: relative
}

.dmPhotoGallery .image-container {
    position: relative
}

.dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner h3,
    .dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner p {
    margin: 0;
    line-height: normal;
    text-align: center
}

.dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner h3 {
    font-size: 21px
}

.dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner div {
    text-align: center
}

.dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner p {
    font-size: 14px
}

.dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner .caption-text,
    .dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner .caption-title {
    max-width: 100%
}

.dmform .dmforminput label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.dmform:has(.spacing-container) .dmform-title.dmwidget-title {
    padding-inline: 0;
    margin-block-start: 0
}

.graphicWidget {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    text-align: center
}

.graphicWidget svg.svg {
    width: 100%;
    height: 100%;
    color: #000;
    fill: #000
}

.socialHubIcon {
    display: flex !important;
    align-items: center;
    justify-content: center
}

.socialHubIcon svg {
    fill: currentColor;
    width: 80%;
    height: 80%
}

.imageWidget img[width][height],
    img[width][height] {
    height: auto
}

.imageWidget {
    position: relative
}

.imageWidget a {
    font-style: italic;
    text-align: center
}

.dmNewParagraph[data-version] {
    line-height: initial
}

.dmNewParagraph[data-version] .text-align-left {
    text-align: left !important
}

.dmNewParagraph[data-version] .text-align-center {
    text-align: center !important
}

.dmNewParagraph[data-version] h1,
    .dmNewParagraph[data-version] h2,
    .dmNewParagraph[data-version] h3,
    .dmNewParagraph[data-version] p {
    margin-top: 0;
    margin-bottom: 0
}

h1,
    h2,
    h3,
    ul {
    margin-left: 0;
    margin-right: 0
}

* {
    border: 0 solid #333;
    scrollbar-arrow-color: #fff;
    scrollbar-track-color: #F2F2F2;
    scrollbar-face-color: silver;
    scrollbar-highlight-color: silver;
    scrollbar-3dlight-color: silver;
    scrollbar-shadow-color: silver;
    scrollbar-darkshadow-color: silver;
    scrollbar-width: 12px
}

body {
    width: 100%;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important
}

A IMG {
    border: none
}

.displayNone {
    display: none
}

span.oneIcon:before {
    display: inline-block
}

.clearfix,
    a,
    img,
    li,
    ul {
    vertical-align: top
}

#site_content {
    position: relative
}

.dmHeader {
    background: #68ccd1;
    color: #666;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 100%
}

DIV.dmBody {
    padding: 0;
    clear: both
}

.dmContent {
    margin: 0;
    padding: 0
}

#site_content ul:not(.defaultList) {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    list-style-position: inside
}

.dmRespRowsWrapper {
    max-width: 960px;
    margin: 0 auto
}

.dmRespCol>[dmle_extension]:not(:first-child) {
    margin-top: 10px
}

.imageWidget:not(.displayNone) img {
    width: 100%
}

h3 {
    font-weight: 400;
    font-size: 23px
}

.dmNewParagraph {
    text-align: left;
    margin: 8px 0;
    padding: 2px 0
}

#dmFirstContainer .dmRespRowsWrapper:after,
    #dmFirstContainer .dmRespRowsWrapper:before {
    content: "";
    display: table
}

.dmLinksMenu>ul {
    display: block;
    margin: 0;
    font-size: inherit
}

.dmSpacer {
    border: 0;
    height: 15px
}

.dmPhotoGalleryHolder {
    font-size: medium !important;
    margin: 0;
    list-style: none
}

.dmSocialHub {
    clear: both
}

.dmSocialHub>div {
    text-align: inherit
}

a span.socialHubIcon {
    width: 36px;
    height: 36px;
    font-size: 31px;
    display: inline-block;
    text-align: center;
    margin-right: 0;
    margin-bottom: 5px;
    line-height: 36px;
    box-sizing: content-box;
    background-image: none !important
}

.socialHubIcon.style5 {
    color: #fff
}

.socialHubIcon.style8 {
    font-size: 24px;
    padding: 4px;
    border-radius: 50%;
    color: #fff;
    background: #000
}

body {
    background-color: #eee
}

.dmPhotoGallery:not(.dmFacebookGallery) .dmPhotoGalleryHolder:not(.ready) li.photoGalleryThumbs {
    display: inline !important;
    visibility: hidden
}

.dmPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner p {
    white-space: pre-line
}

.main-navigation.unifiednav {
    -js-display: flex;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    overflow: visible
}

.main-navigation.unifiednav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem
}

.main-navigation.unifiednav .unifiednav__container {
    -js-display: flex;
    display: flex;
    justify-content: flex-start;
    list-style: none
}

.main-navigation.unifiednav .unifiednav__container>.unifiednav__item-wrap {
    -js-display: flex;
    display: flex;
    justify-content: flex-start;
    position: relative;
    font-weight: 400
}

.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap::after,
    .main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap::before {
    content: '';
    align-self: center;
    font-weight: 700
}

.main-navigation.unifiednav .unifiednav__container>.unifiednav__item-wrap>.unifiednav__item {
    -js-display: flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: inherit;
    text-decoration: none;
    position: relative;
    padding: 12px 15px;
    margin: 0;
    font-weight: inherit;
    letter-spacing: .03em
}

.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item {
    padding: 0 15px
}

.main-navigation.unifiednav .unifiednav__container>.unifiednav__item-wrap>.unifiednav__item .nav-item-text {
    white-space: nowrap
}

.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::after,
    .main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::before {
    content: '';
    width: 100%;
    height: 0;
    border: 0 solid transparent;
    border-top-color: currentColor;
    display: block;
    opacity: 0
}

.main-navigation.unifiednav .unifiednav__container .unifiednav__item:not(.unifiednav__item_has-sub-nav) .icon {
    display: none
}

.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected .nav-item-text::after,
    .main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected .nav-item-text::before {
    opacity: 1
}

.main-navigation.unifiednav.effect-bottom2 {
    padding: calc(12px - .2em - 2px) 15px
}

.main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::after,
    .main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::before {
    transform: scaleX(0);
    border-top-width: 2px
}

.main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::after {
    margin-top: .2em
}

.main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::before {
    margin-bottom: .2em;
    border-top-color: transparent
}

.main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected .nav-item-text::after,
    .main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected .nav-item-text::before {
    transform: scaleX(1)
}

.main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::after,
    .main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::before {
    transform-origin: left
}

.main-navigation.unifiednav:not(.unifiednav_vertical)>.unifiednav__container {
    justify-content: inherit
}

.dmRespRow:not(.dmPlaceHolderRespRow) .dmRespCol:not(.content-removed).empty-column,
    .dmRespRow:not(.dmPlaceHolderRespRow) .dmRespCol:not(.content-removed):empty {
    min-height: 1px
}

.dmRespRow:not(.dmPlaceHolderRespRow) .dmRespColsWrapper .dmRespCol:not(.content-removed):only-child.empty-column {
    min-height: 100px
}

.dmPhotoGallery .caption-text.caption-text {
    color: var(--color_1);
    font-family: Montserrat, "Montserrat Fallback"
}

@media (min-width:0px) and (max-width:767px) {

    .button_2,
        :root {
        --btn-text-font-size: 16px
    }
}

div.u_1816876085 .socialHubIcon {
    background-color: var(--color_4) !important;
    color: var(--color_1) !important;
    border-color: var(--color_1) !important
}

div.u_1816876085 {
    display: block !important;
    float: none !important;
    top: 0 !important;
    left: 0 !important;
    width: calc(100% - 0px) !important;
    position: relative !important;
    height: auto !important;
    max-width: 100% !important;
    min-width: 25px !important;
    text-align: left !important;
    padding: 0 !important
}

a.u_1539985442 {
    float: none !important;
    top: 0 !important;
    left: 0 !important;
    position: relative !important;
    max-width: 100% !important;
    min-width: 0 !important;
    text-align: center !important;
    padding: 0 !important;
    display: block !important
}

a.u_1539985442 {
    width: 204px !important;
    height: 49px !important
}

.fHeader #hcontainer.dmHeader[freeheader=true] {
    padding-top: initial !important;
    padding-bottom: initial !important
}

@media all {

    :root {
        --btn-text-direction: ltr;
        --btn-border-r-color: var(--btn-border-color);
        --btn-border-l-color: var(--btn-border-color);
        --btn-border-b-width: var(--btn-border-width);
        --btn-border-width: 0px;
        --btn-border-radius: 50px;
        --btn-border-t-width: var(--btn-border-width);
        --btn-border-tl-radius: var(--btn-border-radius);
        --btn-border-br-radius: var(--btn-border-radius);
        --btn-border-bl-radius: var(--btn-border-radius);
        --btn-bg-color: var(--color_2);
        --btn-border-color: rgba(0, 0, 0, 0);
        --btn-border-tr-radius: var(--btn-border-radius);
        --btn-border-r-width: var(--btn-border-width);
        --btn-bg-image: none;
        --btn-border-b-color: var(--btn-border-color);
        --btn-border-l-width: var(--btn-border-width);
        --btn-border-t-color: var(--btn-border-color);
        --btn-text-align: center;
        --btn-text-color: var(--color_3);
        --btn-text-decoration: none;
        --btn-text-font-weight: 700;
        --btn-icon-color: rgb(247, 247, 247);
        --btn-icon-fill: rgb(247, 247, 247);
        --btn-icon-wrpr-display: none;
        --btn-hover-border-b-color: var(--btn-hover-border-color);
        --btn-hover-bg: var(--btn-bg-color);
        --btn-hover-border-t-color: var(--btn-hover-border-color);
        --btn-hover-border-r-color: var(--btn-hover-border-color);
        --btn-hover-border-l-color: var(--btn-hover-border-color);
        --btn-hover-border-color: var(--btn-border-color);
        --btn-hover-text-color: var(--btn-text-color);
        --btn-hover-text-font-weight: var(--btn-text-font-weight);
        --btn-hover-text-decoration: var(--btn-text-decoration);
        --btn-hover-text-font-style: var(--btn-text-font-style)
    }

    .button_2 {
        --btn-text-direction: ltr;
        --btn-border-r-color: var(--btn-border-color);
        --btn-border-l-color: var(--btn-border-color);
        --btn-border-b-width: var(--btn-border-width);
        --btn-border-width: 1px;
        --btn-border-radius: 50px;
        --btn-border-t-width: var(--btn-border-width);
        --btn-border-tl-radius: var(--btn-border-radius);
        --btn-border-br-radius: var(--btn-border-radius);
        --btn-border-bl-radius: var(--btn-border-radius);
        --btn-bg-color: rgba(0, 0, 0, 0);
        --btn-border-color: var(--color_2);
        --btn-border-tr-radius: var(--btn-border-radius);
        --btn-border-r-width: var(--btn-border-width);
        --btn-bg-image: none;
        --btn-border-b-color: var(--btn-border-color);
        --btn-border-l-width: var(--btn-border-width);
        --btn-border-t-color: var(--btn-border-color);
        --btn-text-align: center;
        --btn-text-color: var(--color_2);
        --btn-text-decoration: none;
        --btn-text-font-weight: 700;
        --btn-icon-color: rgb(247, 247, 247);
        --btn-icon-fill: rgb(247, 247, 247);
        --btn-icon-wrpr-display: none;
        --btn-hover-border-b-color: var(--btn-hover-border-color);
        --btn-hover-bg: var(--btn-bg-color);
        --btn-hover-border-t-color: var(--btn-hover-border-color);
        --btn-hover-border-r-color: var(--btn-hover-border-color);
        --btn-hover-border-l-color: var(--btn-hover-border-color);
        --btn-hover-border-color: var(--btn-border-color);
        --btn-hover-text-color: var(--btn-text-color);
        --btn-hover-text-font-weight: var(--btn-text-font-weight);
        --btn-hover-text-decoration: var(--btn-text-decoration);
        --btn-hover-text-font-style: var(--btn-text-font-style)
    }
}

@media all {

    #f6c3578a,
        #widget_ogo {
        position: relative;
        min-width: 10px;
        max-width: 100%;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #f6c3578a {
        width: 99.9996783445466%;
        height: 22px;
        min-height: 10px;
        order: 0;
        justify-self: auto
    }

    #widget_ogo {
        width: 86.24%;
        height: 592px;
        min-height: 100px;
        order: 1;
        justify-self: auto
    }

    #a4489c40,
        #c17906ea,
        #f3f98030,
        #fb8de2e8 {
        position: relative;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #fb8de2e8 {
        width: 72.42%;
        justify-self: auto;
        order: 0;
        margin-bottom: 2%
    }

    #f944aebf {
        align-self: start;
        background-size: cover;
        min-height: 320px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        max-width: 1200px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #a4489c40 {
        width: 69.80813356164384%;
        order: 1;
        justify-self: auto
    }

    #\38 bc91358,
        #e0d7569a {
        position: relative;
        width: 99.9996783445466%;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #e0d7569a {
        height: 22px;
        order: 0;
        justify-self: auto
    }

    #\38 bc91358 {
        height: 651px;
        order: 1;
        justify-self: auto
    }

    #f3f98030 {
        width: 69.80918803119619%;
        order: 1;
        justify-self: auto
    }

    #\31 da62b0b {
        align-self: start;
        background-size: cover;
        min-height: 1178px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        max-width: 1200px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        padding-right: 2%;
        padding-left: 2%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #c17906ea {
        width: 72.41913776446044%;
        justify-self: auto;
        order: 0
    }
}

@media all {
    #\37 036b036 {
        position: relative;
        width: 69.80918803119619%;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        order: 1;
        justify-self: auto;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #\32 63810ac {
        align-self: start;
        background-size: cover;
        min-height: 320px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        max-width: 1200px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }
}

@media all {

    #\34 32e8b54,
        #c91cb5cf {
        order: 0;
        position: relative
    }

    #c91cb5cf {
        width: 98.32%;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        margin-top: 0;
        margin-bottom: 0;
        max-width: none;
        align-self: center;
        justify-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #\34 32e8b54 {
        align-self: start;
        background-size: cover;
        min-height: 446px;
        background-repeat: no-repeat;
        flex-direction: row;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        max-width: 1200px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        padding: 50px 2%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }
}

@media (max-width:767px) {
    #c91cb5cf {
        align-self: auto;
        width: 100%;
        max-width: none;
        justify-self: auto;
        order: 0;
        margin: 0;
        grid-area: auto/auto/auto/auto
    }
}

@media all {

    #\30 0678884,
        #\30 ce9550d,
        #\31 154b1d1,
        #\31 ad74244,
        #\31 f6ac89c,
        #\33 b4d7f98,
        #\34 5c88b3c,
        #\35 b465c32,
        #\38 46907ca,
        #\38 a419632,
        #bc4b62cd,
        #d9fee0ef {
        position: relative;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #\30 0678884,
        #\31 f6ac89c,
        #\38 a419632,
        #d9fee0ef {
        width: 99.99671833411618%;
        height: auto;
        order: 1
    }

    #\31 154b1d1,
        #\31 ad74244,
        #\38 46907ca,
        #bc4b62cd {
        width: 99.99671833411618%;
        height: auto;
        order: 2;
        margin-top: 3%
    }

    #\30 ce9550d,
        #\33 b4d7f98,
        #\34 5c88b3c,
        #\35 b465c32 {
        width: 100%;
        height: 258px;
        justify-self: auto;
        order: 0;
        margin-bottom: 5%
    }
}

@media all {

    #\33 9e6b589,
        #cab2d756 {
        position: relative;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        grid-area: auto/auto/auto/auto
    }

    #\33 9e6b589 {
        width: 53.52%;
        order: 2;
        justify-self: auto;
        align-self: center
    }

    #cab2d756 {
        width: 58.31%;
        order: 0;
        justify-self: auto;
        align-self: auto
    }

    #b4e7e3ae,
        #ea9979c2 {
        align-self: stretch;
        min-height: 8px;
        column-gap: 4%;
        min-width: 4%;
        margin: 0;
        width: 48%
    }

    #group_mhm,
        #group_t9r {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        min-height: 60px;
        max-height: 100%;
        height: auto
    }

    #\30 deb9aeb,
        #\34 b4f401d {
        width: 226px;
        height: 60px;
        min-width: 10px;
        min-height: 10px;
        max-height: none;
        align-self: auto;
        order: 0
    }

    #\30 deb9aeb,
        #\33 e777a8f,
        #\34 b4f401d,
        #\36 9060115,
        #ac2c1d35,
        #group_mhm {
        position: relative;
        max-width: 100%;
        grid-area: auto/auto/auto/auto
    }

    #\36 9060115 {
        width: 543px;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        justify-self: auto;
        order: 2;
        margin: 0
    }

    #b4e7e3ae {
        background-size: cover;
        display: flex;
        background-position: 50% 50%;
        row-gap: 16px;
        background-repeat: no-repeat;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        order: 0;
        padding: 5% 16px
    }

    #ac2c1d35 {
        width: 100%;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        justify-self: auto;
        order: 0;
        margin-top: 0;
        margin-bottom: 0
    }

    #\33 f171ea5 {
        align-self: start;
        background-size: cover;
        min-height: 475px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        max-width: none;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        flex-wrap: nowrap;
        padding: 4%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #e740a2eb {
        margin: 0
    }

    #\30 d652019 {
        position: relative;
        width: 100%;
        height: 22px;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        order: 3
    }

    #ea9979c2 {
        background-size: cover;
        display: flex;
        background-position: 50% 50%;
        row-gap: 24px;
        background-repeat: no-repeat;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        background-image: url();
        order: 1;
        border-radius: 20px;
        padding: 0
    }

    #cd8ee5da {
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(8px, max-content);
        display: grid;
        justify-content: start;
        background-position: 50% 50%;
        align-items: start;
        position: relative;
        background-color: rgba(255, 255, 255, 1)
    }

    #\33 e777a8f {
        width: 100%;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        justify-self: auto;
        order: 1;
        align-self: auto
    }

    #group_mhm {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 87.66503850385038%;
        justify-self: auto;
        align-self: auto;
        order: 4
    }

    #\30 deb9aeb {
        justify-self: auto;
        margin-right: 10%
    }

    #group_t9r {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        max-width: 100%;
        width: 48%;
        order: 1
    }

    #\34 b4f401d {
        justify-self: auto
    }
}

@media (min-width:767px) and (max-width:1024px) {

    #\33 e777a8f,
        #\36 9060115,
        #ac2c1d35 {
        align-self: stretch;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: none
    }

    #b4e7e3ae {
        row-gap: 10px;
        width: 51.7%;
        min-height: 8px;
        justify-content: flex-start;
        padding: 4% 16px
    }

    #\33 f171ea5 {
        min-height: 460px;
        flex-direction: row;
        flex-wrap: nowrap;
        row-gap: 16px;
        column-gap: 4%;
        padding: 6% 4%
    }

    #ea9979c2 {
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 44.19611260053619%;
        min-height: 8px
    }

    #cd8ee5da {
        background-color: rgba(255, 255, 255, 1)
    }
}

@media (min-width:1400px) {

    #\33 e777a8f,
        #ac2c1d35 {
        align-self: stretch;
        margin-left: 0;
        margin-right: 0;
        width: 602.81px;
        max-width: 100%
    }

    #\33 f171ea5 {
        min-height: 297px;
        padding: 4% 6%
    }

    #ea9979c2 {
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 42.34%
    }

    #b4e7e3ae {
        width: 53.55095541401273%
    }
}

@media (max-width:767px) {
    #\36 9060115 {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: none
    }

    #b4e7e3ae {
        width: 100%;
        min-height: 240px;
        align-items: center;
        order: 1;
        justify-content: flex-start;
        padding-top: 4%;
        padding-bottom: 4%;
        row-gap: 20px
    }

    #\33 f171ea5 {
        min-height: unset;
        flex-direction: column;
        row-gap: 16px;
        padding: 12% 4%
    }

    #\30 d652019 {
        height: 18px
    }

    #ea9979c2 {
        width: 100%;
        min-height: 343px;
        align-items: center;
        order: 0;
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto
    }

    #\30 deb9aeb {
        height: 50px;
        width: 90%;
        align-self: center;
        margin-bottom: 0;
        margin-top: 0
    }

    #\34 b4f401d {
        height: 50px;
        width: 100%
    }

    #group_mhm {
        height: auto;
        min-height: 61px;
        width: 96.02%
    }

    #group_t9r {
        width: 34.76%
    }
}

@media all {

    #\37 ccc6281,
        #\37 eb65d32 {
        align-self: stretch;
        min-height: 8px;
        max-width: 100%;
        width: 48%;
        min-width: 4%
    }

    #\37 eb65d32,
        #b079eca5,
        #dda40b42 {
        background-position: 50% 50%
    }

    #\37 ccc6281,
        #dda40b42 {
        background-size: cover;
        background-repeat: no-repeat;
        order: 0;
        display: flex;
        column-gap: 4%;
        row-gap: 24px;
        margin: 0
    }

    #\37 8651261 {
        position: relative;
        width: 100%;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        justify-self: auto;
        order: 0;
        margin-top: 0;
        margin-bottom: 0;
        grid-area: auto/auto/auto/auto
    }

    #\37 eb65d32 {
        background-size: cover;
        display: flex;
        column-gap: 4%;
        row-gap: 16px;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        order: 1;
        padding: 2% 16px;
        margin: 0
    }

    #\37 ccc6281 {
        background-position: 50% 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        background-image: url(https://lirp.cdn-website.com/e26fb998/dms3rep/multi/opt/Join+Our+Community+Today-1920w.png);
        border-radius: 20px;
        padding: 0
    }

    #\32 091d47f,
        #\39 012e8df {
        justify-self: auto;
        position: relative;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #\39 012e8df {
        width: 543px;
        height: auto;
        order: 1
    }

    #b079eca5 {
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(8px, max-content);
        display: grid;
        justify-content: start;
        align-items: start;
        position: relative;
        background-color: rgba(255, 255, 255, 1)
    }

    #a67dd6cf {
        margin: 0
    }

    #dda40b42 {
        align-self: start;
        min-height: 475px;
        flex-direction: row;
        max-width: none;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        flex-wrap: nowrap;
        padding: 4%;
        grid-area: 1/1/span 1/span 1
    }

    #\32 091d47f {
        width: 201px;
        height: 52px;
        max-height: none;
        order: 4
    }

    #\37 ab96fd5 {
        position: relative;
        width: 543px;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        justify-self: auto;
        order: 2;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }
}

@media (min-width:767px) and (max-width:1024px) {
    #\37 8651261 {
        align-self: stretch;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: none
    }

    #\37 eb65d32 {
        row-gap: 10px;
        width: 51.7%;
        min-height: 8px;
        justify-content: flex-start;
        padding: 4% 16px
    }

    #\37 ccc6281 {
        border-radius: 20px;
        width: 44.19611260053619%;
        min-height: 8px
    }

    #b079eca5 {
        background-color: rgba(255, 255, 255, 1)
    }

    #dda40b42 {
        min-height: 460px;
        flex-direction: row;
        flex-wrap: nowrap;
        row-gap: 16px;
        column-gap: 4%;
        padding: 6% 4%
    }
}

@media (min-width:1400px) {
    #\37 8651261 {
        align-self: stretch;
        margin-left: 0;
        margin-right: 0;
        width: 602.81px;
        max-width: 100%
    }

    #\37 ccc6281 {
        border-radius: 20px
    }

    #dda40b42 {
        min-height: 297px;
        padding: 4% 6%
    }
}

@media (max-width:767px) {
    #\37 eb65d32 {
        width: 100%;
        min-height: 240px;
        align-items: center;
        order: 1;
        justify-content: flex-start;
        padding-top: 4%;
        padding-bottom: 4%;
        row-gap: 20px
    }

    #\37 ccc6281 {
        width: 100%;
        min-height: 247px;
        align-items: center;
        order: 0;
        border-radius: 20px
    }

    #dda40b42 {
        min-height: unset;
        flex-direction: column;
        row-gap: 16px;
        padding: 12% 4%
    }
}

@media (min-width:468px) and (max-width:767px) {

    #\37 ccc6281,
        #ea9979c2 {
        border-radius: 20px
    }

    #\36 9060115 {
        width: 75.25%;
        align-self: center;
        margin-left: 0;
        margin-right: 0
    }

    #ea9979c2 {
        background-size: cover;
        background-repeat: no-repeat
    }

    #\30 deb9aeb {
        width: 41.47%
    }
}

@media all {

    #\34 e31b612,
        #edadff2e {
        position: relative;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #f19018d6 {
        align-self: start;
        background-size: cover;
        min-height: 320px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 0;
        row-gap: 0;
        max-width: 1200px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        flex-wrap: nowrap;
        padding: 2%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #edadff2e {
        width: 76.39%;
        justify-self: auto;
        order: 1;
        margin-bottom: 2%
    }

    #\34 e31b612 {
        width: 64.42902397260274%;
        order: 0;
        justify-self: auto
    }

    #f50c7622 {
        align-self: start;
        background-size: cover;
        min-height: 475px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        max-width: none;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        flex-wrap: nowrap;
        padding: 2% 4%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #\34 12eb447,
        #aae2ffae {
        height: auto;
        justify-self: auto;
        position: relative;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        grid-area: auto/auto/auto/auto
    }

    #\34 12eb447 {
        width: 543px;
        order: 1;
        margin: 0
    }

    #aae2ffae {
        width: 100%;
        order: 0;
        align-self: auto
    }

    #\30 092ebd6 {
        position: relative;
        width: 201px;
        height: 52px;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        max-height: none;
        justify-self: auto;
        align-self: auto;
        order: 3;
        grid-area: auto/auto/auto/auto
    }

    #\37 9f3462d,
        #e6596a26 {
        height: auto;
        min-width: 10px;
        min-height: 10px;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #\37 9f3462d,
        #e8bbfce4 {
        order: 0;
        max-width: none;
        position: relative
    }

    #\37 340a5c8,
        #\37 9f3462d,
        #b9891af9,
        #e6596a26,
        #e75d7d58,
        #e8bbfce4 {
        position: relative
    }

    #e6596a26 {
        width: 1067.89px;
        max-width: 100%;
        order: 1;
        justify-self: auto
    }

    #\37 9f3462d {
        width: 99.99897974251924%;
        justify-self: auto
    }

    #e8bbfce4 {
        align-self: start;
        background-size: cover;
        min-height: 247px;
        background-repeat: no-repeat;
        flex-direction: row;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        padding: 2% 6%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #c84fd7bd {
        align-self: start;
        background-size: cover;
        min-height: 487px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 2%;
        row-gap: 12px;
        max-width: none;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        flex-wrap: nowrap;
        padding-right: 6%;
        padding-left: 6%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #\37 340a5c8,
        #e75d7d58 {
        width: 99.99897974251924%;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #\37 340a5c8,
        #b9891af9 {
        max-width: none;
        position: relative
    }

    #e75d7d58 {
        max-width: 100%;
        order: 0;
        justify-self: auto
    }

    #\37 340a5c8 {
        order: 1;
        justify-self: auto
    }

    #b9891af9 {
        align-self: start;
        background-size: cover;
        min-height: 162px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        padding: 2% 6%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #ed4efa65 {
        align-self: start;
        background-size: cover;
        min-height: 520px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 2%;
        row-gap: 12px;
        max-width: none;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        flex-wrap: nowrap;
        padding-right: 6%;
        padding-left: 6%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #\34 914f982,
        #\37 7c5601d {
        position: relative;
        width: 100%;
        height: auto;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        grid-area: auto/auto/auto/auto
    }

    #\31 b0a224d {
        align-self: start;
        background-size: cover;
        min-height: 68px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 0;
        row-gap: 0;
        max-width: none;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        flex-wrap: nowrap;
        padding: 2% 6% 2px;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #\37 7c5601d {
        order: 1;
        justify-self: auto;
        margin: 0
    }

    #\34 914f982 {
        order: 0;
        justify-self: auto
    }

    #\30 5da8e25,
        #e639b329 {
        position: relative;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        order: 1;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #e639b329 {
        width: 662px;
        height: 97px;
        justify-self: auto;
        margin: 50px 25%
    }

    #\39 36d0581 {
        align-self: start;
        background-size: cover;
        min-height: 320px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 4%;
        row-gap: 24px;
        max-width: 1200px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #\30 5da8e25 {
        width: 69.99%;
        height: auto;
        justify-self: auto;
        margin: 10px 0
    }

    #\31 ce1f8b1,
        #d01c6589 {
        height: auto;
        min-width: 10px;
        min-height: 10px;
        grid-area: auto/auto/auto/auto
    }

    #\31 ce1f8b1,
        #\32 8fba7c5 {
        order: 0;
        width: 100%;
        position: relative;
        margin: 0
    }

    #\31 ce1f8b1 {
        max-width: none
    }

    #d01c6589 {
        position: relative;
        width: 91.49989477081083%;
        max-width: 100%;
        order: 1;
        justify-self: auto;
        align-self: auto
    }

    #\32 8fba7c5 {
        align-self: start;
        background-size: cover;
        min-height: 133px;
        background-repeat: no-repeat;
        flex-direction: row;
        display: flex;
        background-position: 50% 50%;
        column-gap: 0;
        row-gap: 0;
        max-width: 1200px;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        flex-wrap: nowrap;
        padding-top: 2px;
        grid-area: 1/1/span 1/span 1
    }

    #\30 381cffe,
        #\33 5384f29,
        #\34 6887d41,
        #\34 f2c62d9,
        #\37 b8c41c8,
        #\39 24e669b,
        #d8355f4c {
        position: relative;
        min-width: 10px;
        min-height: 10px;
        max-width: 100%;
        align-self: auto;
        grid-area: auto/auto/auto/auto
    }

    #\34 6887d41,
        #\37 b8c41c8,
        #d8355f4c {
        width: 44px;
        height: 44px;
        order: 0;
        margin: 0
    }

    #\30 381cffe,
        #\33 5384f29,
        #\34 f2c62d9 {
        width: 100%;
        height: auto;
        order: 1;
        margin: 0
    }

    #\30 e7aa5f9 {
        align-self: start;
        background-size: cover;
        min-height: 230px;
        background-repeat: no-repeat;
        flex-direction: row;
        order: 0;
        display: flex;
        background-position: 50% 50%;
        column-gap: 3%;
        row-gap: 18px;
        max-width: none;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        justify-self: center;
        flex-wrap: nowrap;
        padding: 2% 6% 4%;
        margin: 0;
        grid-area: 1/1/span 1/span 1
    }

    #\39 24e669b {
        width: 99.74776632302405%;
        height: auto;
        order: 2;
        justify-self: auto
    }
}

@media (max-width:766px) {

    #b079eca5,
        #cd8ee5da {
        grid-template-rows: minmax(8px, max-content)
    }

    #\30 e7aa5f9,
        #\31 b0a224d,
        #\31 da62b0b,
        #\32 63810ac,
        #\32 8fba7c5,
        #\33 f171ea5,
        #\34 32e8b54,
        #\39 36d0581,
        #b9891af9,
        #c84fd7bd,
        #dda40b42,
        #e8bbfce4,
        #ed4efa65,
        #f19018d6,
        #f50c7622,
        #f944aebf {
        grid-area: 1/1/span 1/span 1
    }
}

.font-size-18,
    .size-18 {
    font-size: 18px !important
}

.font-size-36,
    .size-36 {
    font-size: 36px !important
}

.font-size-32,
    .size-32 {
    font-size: 32px !important
}

.font-size-50,
    .size-50 {
    font-size: 50px !important
}

.font-size-20,
    .size-20 {
    font-size: 20px !important
}

.font-size-60,
    .size-60 {
    font-size: 60px !important
}

.font-size-48 {
    font-size: 48px !important
}

.font-size-16,
    .size-16 {
    font-size: 16px !important
}

.font-size-12,
    .size-12 {
    font-size: 12px !important
}

#\30 0678884,
    #\30 381cffe,
    #\30 5da8e25,
    #\31 f6ac89c,
    #\33 5384f29,
    #\33 e777a8f,
    #\34 12eb447,
    #\34 f2c62d9,
    #\37 036b036,
    #\37 340a5c8,
    #\37 7c5601d,
    #\37 eb65d32,
    #\38 a419632,
    #\38 bc91358,
    #\39 012e8df,
    #\39 c36ed24,
    #a4489c40,
    #d01c6589,
    #d9fee0ef,
    #e639b329,
    #e6596a26,
    #ea9979c2,
    #edadff2e,
    #f1eb575b,
    #f3f98030,
    #f47e7c29,
    #group_t9r,
    #widget_3cm,
    #widget_ogo {
    order: 1
}

#\31 154b1d1,
    #\31 ad74244,
    #\33 9e6b589,
    #\33 f88ce8d,
    #\36 054cf43,
    #\36 9060115,
    #\37 94fb8e9,
    #\37 ab96fd5,
    #\38 46907ca,
    #\39 24e669b,
    #bc4b62cd,
    #dc53cd03,
    #widget_981 {
    order: 2
}

#\30 092ebd6,
    #\30 d652019,
    #\35 974068a {
    order: 3
}

#\32 091d47f,
    #af3d06d8,
    #group_mhm {
    order: 4
}